.m, .m a:link, .m a:visited {
	color: #BDC2C8;
	text-transform: uppercase;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	'float:left;
	clear:both;
	text-decoration:none;
	padding: 0px;
	margin: 0px;
}

.m a:hover, .m a:active {
	color: #ad0000;
}

.m-slash {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	text-align: left;
	font-weight: none;
	color: #ad0000;
}


.m hr {
	width: 99%;
	height: 3px;
	color: #BDC2C8;
	border: 0px;
	background-color: #BDC2C8;
	margin: 4px;
	padding: 0px;
}
